<div class="content-wrapper">
  <section class="content-header">
      <h1>
        Libraries List
      </h1>
  </section>
  <div>
    <div class="tab-pane" id="settings">
        <form {{action 'createLibrary' on='submit'}}class="form-horizontal">
          <div class="form-group">
            <label for="inputName" class="col-sm-1 control-label">Name:</label>
            <div class="col-sm-5">
              {{input type="text" class="form-control " value=libname  placeholder="The name of the library"}}
            </div>
          </div>
          <div class="form-group">
              <label for="inputEmail" class="col-sm-1 control-label">Address:</label>
              <div class="col-sm-5">
                {{input type="text" class="form-control" value=libaddress placeholder="The address of the Library"}}
              </div>
          </div>
          <div class="form-group">
            <label for="inputName" class="col-sm-1 control-label">Phone:</label>
            <div class="col-sm-5">
              {{input type="text" class="form-control" value=libphone placeholder="The phone of the Library"}}
            </div>
          </div>
                   
          <div class="form-group">
            <div class="col-sm-offset-1 col-sm-12">
                <button type="submit" class="btn btn-danger">Create</button>
            </div>
          </div>
      </form>
    </div><!-- /.tab-pane -->               
  </div><!-- /.nav-tabs-custom --> 
<!-- /.content -->
</div><!-- /.content-wrapper -->