<body class="hold-transition skin-blue sidebar-mini">
    
      {{partial 'nav-bar'}}
      <!-- =============================================== -->

      {{partial 'nav-Menu'}}
        
      <!-- =============================================== -->

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">

        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Libraries 
            <small>All about Libraries</small>
          </h1>
          

        </section>
      </div><!-- /.content-wrapper -->
      
      
</body>
{{outlet}}
