<body class="hold-transition skin-blue sidebar-mini">
    
      {{partial 'nav-bar'}}
      <!-- =============================================== -->

      {{partial 'nav-Menu'}}
        
      <!-- =============================================== -->

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">

        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Ember Tutorial Project
            <small>it all starts here</small>
          </h1>
          

        </section>
      </div><!-- /.content-wrapper -->
      {{outlet}}
      
</body>
<!-- 
  <p><b> You should login first!! For login click {{#link-to 'login'}}<a>here</a>{{/link-to}}</b></p>
 -->


