<!-- Left side column. contains the sidebar -->
      <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
        
          <!-- Sidebar user panel -->
          
          <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>
            <li class="treeview">
              {{#link-to 'main'}}<i class="fa fa-dashboard"></i> <span>Dashboard</span> <i class="fa fa-angle-left pull-right"></i> {{/link-to}}
            </li>
           
            <li class="treeview"> 
              {{#link-to 'main'}}
                <i class="fa fa-dashboard"></i> <span>Library</span> <i class="fa fa-angle-left pull-right"></i>
              {{/link-to}}
            </li>


            <li class="treeview"> 
              {{#link-to 'main'}}
                <i class="fa fa-dashboard"></i> <span>Books</span> <i class="fa fa-angle-left pull-right"></i>
              {{/link-to}}
            </li>

            <li class="treeview">
              <a>
                <i class="fa fa-share"></i> <span>Admin</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="dropdown-toggle">
                <li>
                  <li><a href="#"><i class="fa fa-circle-o"></i> Invitations <i class="fa fa-angle-left pull-right"></i></a> </li>
                  
                  <li><a href="#"><i class="fa fa-circle-o"></i> Contacts</a></li>
                  
                  <li><a href="#"><i class="fa fa-circle-o"></i> Seeder</a></li>
                </li>
              </ul>
            </li>

            <li class="treeview"> 
              {{#link-to 'main.contact'}}
                <i class="fa fa-dashboard"></i> <span>Contact</span> <i class="fa fa-angle-left pull-right"></i>
              {{/link-to}}
            </li>

            <li class="treeview"> 
              {{#link-to 'main.about'}}
                <i class="fa fa-dashboard"></i> <span>About</span> <i class="fa fa-angle-left pull-right"></i>
              {{/link-to}}
            </li>

          </ul>
        </section>
        <!-- /.sidebar -->
      </aside>

